<div class="container center">
  <h1>Timer Watch</h1>
  <h4>up to 5 hours</h4>
  <hr />
  <select name="hours" id="hours">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="3">4</option>
    <option value="3">5</option>
  </select>
  <select name="minutes" id="minutes">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="3">4</option>
    <option value="3">5</option>
    <option value="3">6</option>
    <option value="3">7</option>
    <option value="3">8</option>
    <option value="3">9</option>
    <option value="3">10</option>
  </select>
  <select name="seconds" id="seconds">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="3">4</option>
    <option value="3">5</option>
    <option value="3">6</option>
    <option value="3">7</option>
    <option value="3">8</option>
    <option value="3">9</option>
    <option value="3">10</option>
  </select>
</div>
